body
{  
    background-color: rgb(19, 17, 17);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

h1 
{
    text-align: center;
}

form
{
    width: 30%;
    text-align: center;
    margin: auto;
    padding: 30px;
}

input, select, textarea
{

    margin: 5px;
    background-color: rgb(151, 115, 184);
    columns: white;
    border-radius: 10px;
    color: white;
}

::-webkit-input-placeholder
{
   color: white;
}